.block-club-information {
    position: relative;
    width: 1270px;
    min-height: 680px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    color: #000000;
    text-align: justify;
    margin-top: -20px;
}

.block-club-imgs {
    margin-top: 50px;
}
