.club {
    margin-bottom: 25px;
    width: 1270px;
}

.block-club-information {
    position: relative;
    min-height: 680px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    color: #000000;
    text-align: justify;
    line-height: 35px;
}

.block-club-imgs {
    margin-top: 50px;
}
