.contacts {
    width: 1000px;
    display: flex;
    margin-top: 25px;
}

.block-contacts-informations {
    float: left;
    width: 500px
}

.block-contacts-map {
    float: right;
    display: grid;

}

.contacts-line {
    display: flex; 
    padding: 10px 0 10px 0;
}

.contacts-line img {
    width: 24px;
    height: 24px;
}

.contacts-line-info {
    margin-left: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: black;
}

.contacts-img-map {
    width: 100%;
    height: 330px;
    z-index: -1;
    margin-top: 25px;
}

.contacts-map {
    width: 500px;
    z-index: 1;
    position: absolute;
}

iframe {
    position: relative;
    border: none;
    height: 400px;
    width: 100%;
}

.title-block
{
    display: none;
}


@media (max-width: 1024px) {
    .contacts {
        width: 770px;

    }
    
    .block-contacts-informations {
        width: 350px;
    }
    
    .block-contacts-map {
        float: right;
        width: 60%;
        display: grid;
    
    }
    
    .block-contacts-informations {
        float: left;
        width: 50%;
    }

    .contacts-information-line {
        font-size: 18px;
    }
    
    .contacts-map {
        width: 420px;
    }

    .contacts-img-map {
        width: 100%;
        height: 300px;
        z-index: -1;
        margin-top: 25px;
    }

    .contacts-line-info {
        font-size: 16px;
    }
}

@media screen and (max-width: 360px) {

    .block-contacts-informations {
        float: inline-start;
        width: 100%;
    }

    .title-block {
        display: block;
    }

    .contacts  {
        width: 280px;
        display: grid;
        text-align: justify;
        margin-top: 0;
    }

    .contacts-line {
        display: flex; 
        width: 280px; 
        padding: 10px 0 10px 0;
        hyphens: auto;
    }

    .contacts-line img {
        width: 24px;
        height: 24px;
    }

    .contacts-line-info {
        font-size: 14px;
        margin-left: 15px;
    }


    .block-contacts-map {
        display: grid;
    }

    .contacts-img-map {
        width: 280px;
        z-index: -1;
        margin-top: 15px;
    }

    .contacts-map {
        width: 280px;
        z-index: 1;
        position: relative;
        margin-top: 15px;
    }
}