.contacts {
    width: 1270px;
    display: flex;
}

.block-contacts-informations {
    float: left;
    width: 70%;
}

.block-contacts-map {
    float: right;
    width: 100%;
    display: grid;

}

.contacts-information-line {
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 28px;
    color: black;
    text-align: left;
}

.contacts-img-map {
    width: 100%;
    height: 330px;
    z-index: -1;
    margin-top: 20px;
}

.contacts-map {
    width: 745px;
    z-index: 1;
    position: absolute;
    margin-top: 20px;
}