.documents {
    /* justify-content: space-between;
    display: flex;
    flex-wrap: wrap; */
    width: 1270px;
    /* margin-bottom: 30px; */
    margin-top: -25px;
}

.doc {
    width: 300px;
    height: 400px;
    margin-top: 30px;
    transition: 1s;
    margin-left: 18px;
}

.doc_1 {
    width: 300px;
    height: 400px;
    margin-top: 30px;
    transition: 1s;
}

.doc:hover {
    transform: scale(1.2); 
}

.doc_1:hover {
    transform: scale(1.2); 
}