
footer {
    min-width: 1920px;
    width: 100%;
    height: 250px;
    background: #000000;    
}

.footer {
    margin-left: 240px;
    max-width: 1450px;
    min-height: 250px;
    margin-top: 50px;
    display: flex;
    /* align-items: center; */
    display: grid;
}

.footer-text {
    width: 725px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    color: #FFFFFF;
}

.law {
    width: 725px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-align: right;
    color: #706f6f;
}

.alyans {
    width: 725px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-align: left;
    color: #706f6f;
}

.sign_in {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background: none;
    min-width: 70px;
    min-height: 40px;
    margin-left: 10px;
    border: 0px;
}

.sign_in:hover {
    text-decoration: none;
    color: #9A9A9A;
}

.button_footer {
    margin-left: 550px;
    display: flex;
    align-items: center;
    text-align: right;
}

.youtube {
    width: 40px;
    height: 30px;
}

.vk {
    margin-left: 15px;
    width: 40px;
    height: 40px;
}

.footer_one_div {
    display: flex;
    align-items: end;
}

.footer_second_div {
    display: flex;
    align-items: center;
}
