
footer {
    /* min-width: 1920px; */
    width: 100%;
    height: 250px;
    background: #000000;
    justify-items: center;
    display: grid;
    /* width: 100%; */
}

.footer {
    /* margin-left: 240px; */
    /* max-width: 1450px; */
    min-height: 250px;
    /* margin-top: 50px; */
    display: flex;
    /* align-items: center; */
    /* display: grid; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;    
    /* background-size: 100%; */
    max-width: 1450px;

}


#footer_one_div {
    float: left;
    /* width: 35%; */
}

#footer_second_div {
    float: right;
    /* width: 35%; */
}

.footer-text {
    margin-top: 50px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: left;
    color: #FFFFFF;
    /* align-items: end; */
}

.law {
    width: 700px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-align: right;
    color: #706f6f;
    margin-top: 40px;
        /* align-items: center; */
        /* margin-bottom: 30px; */
}

.alyans {
    /* align-items: baseline; */
    /* width: 725px; */
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-align: left;
    color: #706f6f;
    /* margin-bottom: 30px; */

}

.sign {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background: none;
    /* min-width: 70px; */
    /* min-height: 40px; */
    margin-left: 10px;
    border: 0px;
    text-decoration: none;
}

.sign:hover {
    text-decoration: none;
    color: #9A9A9A;
}

.button_footer {
    margin-top: 50px;
    /* margin-left: 550px; */
    display: flex;
    align-items: center;
    /* text-align: right; */
}

.youtube {
    width: 40px;
    height: 30px;
}

.vk {
    margin-left: 15px;
    width: 40px;
    height: 40px;
}

.footer_one_div {
    display: grid;
    align-items: center;
    /* width: 100%; */
}

.footer_second_div {
    /* width: 100%; */
    display: inline-grid;
    align-items: center;
    justify-items: right;
}
