footer {
    width: 100%;
    background: #000000;
    justify-items: center;
    display: grid;
    position: relative;
}

.footer {
    display: flex;
    justify-content: center;
    width: 1000px;
}

.block-footer-indormation {
    display: grid;
    float: left;
}

.block-footer-indormation-text-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 40px;
}

.block-footer-indormation-text-2 {
    width: 600px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    text-align: left;
    color: #706f6f;
    margin-bottom: 40px;
    margin-top: 5px;
}

.block-footer-buttons {
    float: right;
    width: 660%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.block-footer-buttons-elements {
    display: flex;
    align-items: center;
    float: right;
}

.block-footer-buttons-element-1 {
    width: 33px;
    height: 28px;
}

.block-footer-buttons-element-2 {
    margin-left: 7px;
    width: 30px;
    height: 29px;
}

.block-footer-buttons-element-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background: none;
    margin-left: 7px;
    border: 0px;
    text-decoration: none;
}

.block-footer-buttons-element-button:hover {
    text-decoration: none;
    color: #9A9A9A;
}

/*---------------------modal window-----------------*/


.block-footer-modalWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 15;
}

.block-footer-modalWindow:target {
    visibility: visible;
    opacity: 1;
}

.block-footer-modalWindow-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: default;
}

.block-footer-modalWindow-dialog {
    background: #FFFFFF;
    border-radius: 5px;
    position: fixed;
    left: 37%;
    width: 500px;
}

.block-footer-modalWindow-dialog {
    top: 10%;
}

.block-footer-modalWindow-dialog-header,
.modal-footer {
    padding: 10px 20px
}

.block-footer-modalWindow-dialog-header {
    border-bottom: #eee solid 1px;
    font-size: 20px
}

.block-footer-modalWindow-dialog-header-imgs {
    display: flex;
    justify-content: center;
}

.block-footer-modalWindow-dialog-header-imgs-img {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 150px;
    display: inline-block;
    margin-top: 20px;
    border: 2px solid;
    margin-bottom: 20px;
    align-items: center;
}

.block-footer-modalWindow-dialog-header-imgs-close {
    color: #aaa;
    font-size: 50px;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 10px;
}

.block-footer-modalWindow-dialog-header-imgs-close:hover {
    color: #919191
}

#close {
    display: none
}


.block-footer-modalWindow-dialog-body {
    padding: 20px;
    display: grid;
    justify-content: center;
}

.block-footer-modalWindow-dialog-body-forms {
    display: grid;
    justify-content: center;
}

.block-footer-modalWindow-dialog-body-forms-group {
    display: grid;
}


.block-footer-modalWindow-dialog-body-forms-group-title {
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
}

.block-footer-modalWindow-dialog-body-forms-group-title span {
    color: red;
}

.block-footer-modalWindow-dialog-body-forms-group-input {
    padding: 10px;
    width: 350px;
    height: 35px;
}

.block-footer-modalWindow-dialog-body-button {
    background-color: #000000;
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 25px;
    margin-bottom: 20px;
    height: 60px;
}

@media (max-width: 1120px) {

    footer {
        height: 160px;
    }

    .footer {
        width: 770px;
    }

    .block-footer-indormation-text-1 {
        font-size: 16px;
        margin-top: 40px;
    }

    .block-footer-indormation-text-2 {
        font-size: 10px;
        margin-bottom: 40px;
    }

    .block-footer-buttons {
        margin-top: 80px;
        margin-bottom: 40px;
        width: 0%;
    }

    .block-footer-buttons-element-1 {
        width: 25px;
        height: 20px;
    }

    .block-footer-buttons-element-2 {
        width: 25px;
        height: 25px;
    }

    .block-footer-buttons-element-button {
        font-size: 18px;
    }

    .block-footer-modalWindow-dialog {
        left: 32%;
        width: 400px;
    }

    .block-footer-modalWindow-dialog-header-imgs-img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .block-footer-modalWindow-dialog-header-imgs-close {
        font-size: 40px;
        right: 15px;
        top: 5px;
    }

    .block-footer-modalWindow-dialog-body {
        padding: 15px;
    }

    .block-footer-modalWindow-dialog-body-forms-group-title {
        font-size: 16px;
    }

    .block-footer-modalWindow-dialog-body-forms-group-input {
        width: 300px;
        height: 25px;
    }

    .block-footer-modalWindow-dialog-body-button {
        font-size: 18px;
        height: 50px;
    }

}