.history {
    /* justify-content: center;
    display: flex; */
    margin-top: -20px;
    margin-bottom: 20px;
}

.text {
    justify-content: center;
    display: flex;
}

.text_1 {
    position: absolute;
    /* width: 1450px; */
    width: 1270px;
    min-height: 90px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    text-align: justify;
    color: #000000;
}

.uesiba_h {
    position: relative;
    margin-top: 170px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.text_2 {
    position: absolute;
    width: 1270px;
    min-height: 90px;
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: justify;
    color: #000000;
}

.img_history {
    position: relative;
    margin-top: 750px;
}

.title_etiquette {
    position: absolute;
    min-height: 64px;
    margin-top: 50px;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #000000;
}

.info_etiquette {
    position: relative;
    width: 1270px;
    min-height: 1232px;
    margin-top: 150px;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    text-align: justify;
    color: #000000;
}
