/* --------------style for section index-composition------------ */

section {
    margin-top: 25px;
    margin-bottom: 25px;
}

@font-face {
    font-family: Kashima;
    src: url(../fonts/Kashima.otf);
}

.index-composition {
    height: 400px;
    max-width: 1270px;
    display: flex;
}

.block-composition-left {
    float: left;
    display: flex;
    justify-content: center;
}

.block-composition-left-img {
    height: inherit;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 300px;
}

.block-composition-center {
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
}

.block-composition-center-line {
    width: 90%;
    height: 7px;
    background: #FCDF21;
    margin-left: auto;
    margin-right: auto;
}

.block-composition-center-text {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Kashima';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    align-items: center;
    color: #000000;
}

.block-composition-right {
    float: right;
    height: inherit;
    display: flex;
    justify-content: center;
}

.block-composition-right-img {
    height: inherit;
    left: 1560px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25)) drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

/* --------------style for section index-information------------ */


.index-information-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    justify-content: center;
}

.index-information-text {
    width: 1270px;
    min-height: 245px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    position: relative;
    text-align: justify;
    color: #000000;
    line-height: 35px;
    margin-top: 25px;
}

/* --------------style for section index-news------------ */

.index-news {
    display: flex;
    justify-content: space-between;
    width: 1270px;
}

.block-index-news {
    width: 400px;
    background-image: url("../images/rectangle.png");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    padding-bottom: 15px;
    height: 500px;
}

.block-index-news-img {
    height: 340px;
    width: 400px;
    border-radius: 5px;
}

.block-index-news-title {
    margin-left: 5px;
    width: 390px;
    min-height: 60px;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #000000;
    align-items: center;
    display: grid;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    hyphens: auto;
}

.block-index-news-news {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    text-align: left;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    hyphens: auto;
}