/* --------------style for section index-composition------------ */

section {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 1000px;
}

@font-face {
    font-family: Kashima;
    src: url(../fonts/Kashima.otf);
}

.index-composition {
    height: 320px;
    display: flex;
}

.block-composition-left {
    float: left;
    display: flex;
    justify-content: center;
}

.block-composition-left-img {
    height: inherit;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 230px;
}

.block-composition-center {
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
}

.block-composition-center-line {
    width: 90%;
    height: 5px;
    background: #FCDF21;
    margin-left: auto;
    margin-right: auto;
}

.block-composition-center-text {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Kashima';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    align-items: center;
    color: #000000;
}

.block-composition-right {
    float: right;
    height: inherit;
    display: flex;
    justify-content: center;
}

.block-composition-right-img {
    height: inherit;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25)) drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

/* --------------style for section index-information------------ */


.index-information-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    justify-content: center;
}

.index-information-text {
    min-height: 245px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    text-align: justify;
    color: #000000;
    line-height: 40px;
    margin-top: 25px;
}

/* --------------style for section index-news------------ */

.index-news {
    display: flex;
    justify-content: space-between;
}

.block-index-news {
    width: 320px;
    background-image: url("../images/rectangle.png");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-bottom: 15px;
    height: 420px;
}

.block-index-news-img {
    width: 320px;
}

.block-index-news-title {
    width: 320px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #000000;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    hyphens: auto;
padding: 15px;
}

.block-index-news-news {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    text-align: left;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    hyphens: auto;
    line-height: 25px;
    padding: 0 15px 0 15px;
}


@media (max-width: 1120px) {
    section {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 770px;
    }

    .index-composition {
        height: 300px;
    }

    .block-composition-left-img {
        width: 200px;
    }

    .block-composition-center-text {
        font-size: 40px;
    }

    .index-information-title {
        font-size: 24px;
    }

    .index-information-text {
        font-size: 18px;
        line-height: 35px;
        margin-top: 10px;
    }

    .block-index-news {
        width: 250px;
        height: 380px;
    }

    .block-index-news-img {
        width: 250px;
    }

    .block-index-news-title {
        margin-left: 2px;
        width: 230px;
        margin-top: 7px;
        font-size: 16px;
        padding: 5px 10px 5px 10px;
    }

    .block-index-news-news {
        font-size: 14px;
        line-height: 20px;
    }
}
