
.block_1 {
    min-height: 600px;
    display: flex;
    align-items: center;
    max-width: 1450px;
}   

.foto_1 {
    width: 430px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.block_info_left {
    margin-left: 50px;
}

.name_left {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #000000;
    text-align: center;
}

.info_i_left {
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    color: #000000;
}

.line_black {
    position: relative;
    width: 800px;
    height: 2px;
    margin-top: 40px;
    background: #000000;
    justify-content: center;
}

.block {
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
    min-height: 600px;
    max-width: 1450px;

}


.block_info_right {
    margin-right: 50px;
}

.foto_right {
    width: 500px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.foto_left {
    width: 500px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.name_right {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #000000;
    text-align: center;
}

.info_i_right {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    color: #000000;
    margin-top: 50px;
}

.right_block {
    width: 100%;
    background-size: cover;
    background-color: #e8e8e8;
    justify-items: center;
    display: inline-grid;
}