.treners {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
}

.block-trener {
    display: grid;
    width: 240px;
}

.block-trener-photo {
    height: 320px;
    width: 240px;
}

.block-trener-information {
    display: grid;
    background-color: #000000;
    align-items: center;
    height: 100px;
}

.block-trener-information-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px 10px 0 10px;
}

.block-trener-information-dan {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}


@media (max-width: 1120px) {
    .treners {
        width: 770px;
    }

    .block-trener {
        height: 430px;
        width: 250px;
    }
    
    .block-trener-photo {
        height: 350px;
        width: 250px;
    }
    
    .block-trener-information {
        height: 80px;
    } 

    .block-trener-information-name {
        font-size: 16px;
    }
    
    .block-trener-information-dan {
        font-size: 14px;
    }
}