#leftBlock {
    float: left;
    /* width: 25%; */
    display: flex;
    justify-content: center;
}


#rightBlock {
    float: right;
    height: inherit;
    /* width: 25%; */
    display: flex;
    justify-content: center;
}

#centralBlock {
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
}

.main_composition {
    height: 400px;
    /* max-width: 1450px; */
    max-width: 1270px;
    /* margin-top: 50px; */
}

.main {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
    justify-items: center;
    display: inline-grid;
}

.sensei {
    /* width: 305px; */
    height: inherit;
    top: 445px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 300px;
}

.yellow_line {
    width: 90%;
    height: 7px;
    background: #FCDF21;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: Kashima;
    src: url(../fonts/Kashima.otf);
}

.quote_text {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Kashima';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    align-items: center;
    color: #000000;
}

.aikido_logo {
    height: inherit;
    left: 1560px;
    top: 420px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25)) drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
    /* width: 300px; */
}

/* ----info---- */

.info_title {
    position: absolute;
    /* width: 300px; */
    height: 60px;
    /* left: 855px; */
    /* top: 935px; */
    margin-top: 500px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: center;
}

.info_federation {
    /* width: 1450px; */
    width: 1270px;

    min-height: 245px;
    /* margin-left: 235px; */
    margin-top: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    position: relative;
    align-items: center;
    text-align: justify;
    color: #000000;
}

/* -----news----- */

.news {
    display: flex;
}

.new_block {
    /* width: 430px; */
    width: 400px;
    min-height: 780px;
    /* min-height: 830px; */
    margin-top: 100px;
    background-image: url("../images/rectangle.png");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}

.new_1 {
    position: relative;
    /* margin-left: 235px; */

}

.new_image {
    /* height: 360px; */
    height: 340px;
    width: 400px;
    /* width: 430px; */
    border-radius: 5px;
}

.new_title {
    /* width: 430px; */
    margin-left: 5px;
    width: 390px;
    max-height: 100px;
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.new {
    /* width: 410px; */
    width: 390px;
    min-height: 310px;
    margin-left: 5px;

    /* margin-left: 10px; */
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    /* align-items: center; */
    text-align: center;
    color: #000000;
}

.new_2 {
    position: relative;
    /* margin-left: 80px; */
    margin-left: 35px;
}

.new_3 {
    position: relative;
    /* margin-left: 80px; */
    margin-left: 35px;
}

.transition {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 2300px;
    display: flex;
}

.e_1 {
    margin-left: 900px;
}

.e_2 {
    margin-left: 20px;
}

.e_3 {
    margin-left: 20px;
}