.news {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 1270px;
}

.block-news {
    position: relative;
    width: 400px;
    margin-top: 25px;
    background-image: url("../images/rectangle.png");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-bottom: 15px;
    height: 800px;
}

.block-news-img {
    height: 340px;
    width: 400px;
}

.block-news-title {
    margin-left: 5px;
    width: 390px;
    min-height: 60px;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #000000;
    align-items: center;
    display: grid;
}

.block-news-news {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    text-align: left;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    hyphens: auto;
    display: grid;
}

.block-news-date {
    position: absolute;
    display: grid;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #444444;
    bottom: 10px;
    left: 38%;
}

.block-news-transitions {
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.block-news-transitions-number-page {
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #7c7c7c;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.block-news-transitions-arrow {
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #7c7c7c;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}