.schedule {
    display: flex;
    min-height: 400px;
    max-width: 1270px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.block-schedule-information {
    float: right;
}

.block-schedule-information-table th {
    text-align: center;
    border: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

table {
    width: 920px;
    border-collapse: collapse;
    border: 2px solid black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    color: #000000;
    margin-left: 50px;

}