.schedule {
    display: flex;
    align-items: center;
    min-height: 400px;
    max-width: 1450px;
}

.schedule_left_div {
    float: left;
}

.schedule_right_div {
    float: right;
}

.title-page-t {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
}


.adress {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #000000;
}

.maps {
    margin-left: 20px;
    border-collapse: collapse;
}

.table th {
    text-align: center;
}

table {
    width: 725px;
    margin-top: 50px;
    height: 200px;
    border-collapse: collapse;
    border: 1px solid black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #000000;

}

