
.main {
    /* margin-left: 240px; */
    /* max-width: 1450px; */
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
    justify-items: center;
    display: inline-grid;
    min-height: 70vh;
}

.i_title_div {
    align-items: center;
    text-align: center;
    height: 55px;
}

.title_page_i {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #000000;
    position: relative;
}

.line_line {
    width: 800px;
    height: 5px;
    margin-top: 10px;
    background: #FCDF21;
    /* justify-content: center; */
    /* margin-left: 325px; */
}

p {
    text-indent: 75px;
}

/* -----------------album------------------ */

.g2-container {
    margin-left: 160px;
}

.foto_blok_1 {
    display: flex;

}

.img_1_class {
    /* width: 450px;
    height: 350px; */
    width: 350px;
    height: 250px;
    margin-top: 550px;
}

#Img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#Img:hover {
    opacity: 0.7;
}

.img_class {
    /* width: 450px;
    height: 350px; */
    width: 350px;
    height: 250px;
    margin-top: 550px;
    margin-left: 50px;
}

.foto_blok {
    margin-top: 50px;
    display: flex;
}

.img_etc_class {
    /* width: 450px;
    height: 350px; */
    left: 50px;
    width: 350px;
    height: 250px;
}

.img__class {
    margin-left: 50px;
    /* width: 450px;
    height: 350px; */
    width: 350px;
    height: 250px;
}