

html {
    min-height: 100%;
    position: relative;
}

body {
    min-height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: first baseline;
    height: 100vh;
}

main {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-items: center;
    display: grid;
}

p {
    text-indent: 55px;
    margin-bottom: 0;
}

/* -------------------style for button in technique and terms pages summary--------------- */

.terms-and-technique-element-button {
    background-color: rgb(222, 223, 224);
    border: 2px solid black;
    width: 1266px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    cursor: default;
    margin-top: 25px;
}

/* ----------------style for block witn information about trener in instructors and schedule pages----------- */

.block-trener {
    display: grid;
    height: 500px;
    width: 300px;
}

.block-trener-photo {
    height: 400px;
    width: 300px;
}

.block-trener-information {
    display: grid;
    background-color: #000000;
    align-items: center;
    height: 100px;
}

.block-trener-information-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.block-trener-information-dan {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}