.main {
    margin-left: 240px;
    max-width: 1450px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.i_title_div {
    align-items: center;
    text-align: center;
    height: 55px;
}

.title_page_i {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #000000;
    position: relative;
}

.line_line {
    width: 800px;
    height: 5px;
    margin-top: 10px;
    background: #FCDF21;
    /* justify-content: center; */
    margin-left: 325px;
}

p {
    text-indent: 75px;
}


/* -------------clube------------ */

.title-page {
    position: absolute;
    max-width: 250px;
    height: 60px;
    margin-left: 830px;
    top: 410px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: center;
}

/* .line_line {
    position: absolute;
    width: 800px;
    height: 5px;
    left: 560px;
    top: 480px;
    background: #FCDF21;
} */

.info-page {
    position: relative;
    width: 1450px;
    min-height: 680px;
    top: 540px;
    margin-left: 235px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    color: #000000;
    text-align: justify;
}

/* p {
    text-indent: 75px;
} */

.img_about_school {
    position: relative;
    width: 876px;
    height: 500px;
    left: 521px;
    margin-top: 650px;
}


/* ---------------timetable----------------- */


.title-page-1 {
    position: relative;
    width: 400px;
    height: 64px;
    top: 600px;
    margin-left: 240px;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #000000;
}

.table-info {
    position: absolute;
    width: 632px;
    min-height: 64px;
    padding: 0%;
    margin-top: 620px;
    left: 240px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
}

.maps {
    position: absolute;
    left: 1000px;
    margin-top: 550px;
    border-collapse: collapse;
    border: 0.5px solid black;
}


.table {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    border-spacing: 3px;
    margin-left: 240px;
    margin-top: 60px;
}

.table th {
    text-align: center;
}

table {
    margin-top: 695px;
    width: 35%;
    height: 200px;
    border-collapse: collapse;
    border: 2px solid black;
}


.title-page-2 {
    position: relative;
    width: 400px;
    height: 64px;
    top: 0px;
    margin-left: 240px;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #000000;
}

/* .page_with_backg {
    width: 1920px;
    top: 70px;
    height: 900px;
    background-color: #f4f4f7;
} */

.maps-z {
    position: absolute;
    left: 1000px;
    margin-top: 50px;
    border-collapse: collapse;
    border: 0.5px solid black;
}


/* --------------------history----------------- */

.title-page-3 {
    position: absolute;
    max-width: 250px;
    height: 64px;
    margin-left: 880px;
    top: 410px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    align-items: center;
    color: #000000;
}

.text_1 {
    position: relative;
    max-width: 1450px;
    min-height: 90px;
    top: 550px;
    margin-left: 240px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #000000;
}

.uesiba_h {
    position: relative;
    width: 510px;
    height: 600px;
    left: 705px;
    top: 600px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.text_2 {
    position: relative;
    max-width: 1400px;
    min-height: 90px;
    padding: 10px;
    top: 700px;
    margin-left: 240px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: justify;
    color: #000000;
}

.img_history {
    position: relative;
    width: 750px;
    height: 505px;
    left: 585px;
    top: 750px;
}

.title_etiquette {
    position: absolute;
    width: 796px;
    min-height: 64px;
    margin-left: 240px;
    margin-top: 800px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #000000;
}

.info_etiquette {
    position: relative;
    max-width: 1600px;
    min-height: 1232px;
    left: 240px;
    top: 870px;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: justify;
    color: #000000;
}



/* -----------------album------------------ */

.g2-container {
    margin-left: 160px;
}

.foto_blok_1 {
    display: flex;

}

.img_1_class {
    /* width: 450px;
    height: 350px; */
    width: 350px;
    height: 250px;
    margin-top: 550px;
}

#Img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#Img:hover {
    opacity: 0.7;
}

.img_class {
    /* width: 450px;
    height: 350px; */
    width: 350px;
    height: 250px;
    margin-top: 550px;
    margin-left: 50px;
}

.foto_blok {
    margin-top: 50px;
    display: flex;
}

.img_etc_class {
    /* width: 450px;
    height: 350px; */
    left: 50px;
    width: 350px;
    height: 250px;
}

.img__class {
    margin-left: 50px;
    /* width: 450px;
    height: 350px; */
    width: 350px;
    height: 250px;
}


/* -------------------terms----------------- */

/* .terms {

} */

.t-container {
    display: inline-block;
}


.general {
    margin-top: 600px;
    margin-left: 200px;
    background-color: #9A9A9A;
    width: 1500px;
    height: 60px;
}

.terms-title {
    position: relative;
    width: 1500px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 00;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
}

/* .triangle {
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 1450px;
    margin-top: 15px;
} */

.terms-text {
    position: relative;
    display: flex;
    width: 1450px;
    min-height: 50px;
    left: 50px;
    top: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #000000;
}

.hideText {
    display: none;
}

.numbers {
    position: relative;
    margin-top: 40px;
    left: 200px;
    background-color: #9A9A9A;
    width: 1500px;
    height: 60px;
}

.side {
    position: relative;
    margin-top: 20px;
    left: 200px;
    background-color: #9A9A9A;
    width: 1500px;
    height: 60px;
}

.rack {
    position: relative;
    margin-top: 40px;
    left: 200px;
    background-color: #9A9A9A;
    width: 1500px;
    height: 60px;
}
