.techique {
    width: 1270px;
    margin-bottom: 25px;
}

details {
    width: 1270px;
    min-height: 50px;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
}

.block-techique {
    width: 1270px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 1270px;
    margin-bottom: 25px;
}

.block-techique-video {
    width: 420px;
    margin-top: 25px;
}

.block-techique-video-video {
    height: 250px;
    width: 100%;
}

.block-techique-video-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.technique-element-exam-button {
    background-color: rgb(244, 245, 246);
    border: 1px solid black;
    width: 1270px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    margin-top: 50px;
    cursor: default; 
}
