.techique {
    width: 1000px;
    margin-bottom: 25px;
}

details {
    width: 1000px;
    min-height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.block-techique {
    width: 1000px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.block-techique-video {
    width: 330px;
    margin-top: 25px;
}

.block-techique-video-video {
    height: 230px;
    width: 100%;
}

.block-techique-video-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-top: 15px;
}

.technique-element-exam-button {
    background-color: rgb(244, 245, 246);
    border: 1px solid black;
    width: 1000px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    margin-top: 25px;
    cursor: default;
}

.title-block {
    display: none;    
}

@media (max-width: 1024px) {
    .techique {
        width: 770px;
    }

    details {
        width: 770px;
        font-size: 22px;
    }

    .block-techique {
        width: 770px;
    }

    .block-techique-video {
        width: 385px;
    }

    .block-techique-video-video {
        height: 270px;
    }

    .block-techique-video-title {
        font-size: 22px;
    }

    .technique-element-exam-button {
        width: 770px;
        height: 50px;
        font-size: 22px;
    }

    .technique-element-exam-button {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    
    .title-block {
        display: block;    
    }

    .techique {
        width: 330px;
        display: grid;
        margin-bottom: 15px;
    }

    details {
        width: 330px;
        font-size: 22px;
    }
    
    .block-techique {
        width: 330px;
        margin-bottom: 15px;
    }
    
    .block-techique-video {
        width: 330px;
        margin-top: 15px;
    }
    
    .block-techique-video-video {
        height: 230px;
        width: 330px;
    }
    
    .block-techique-video-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        align-items: center;
        text-align: left;
        color: #000000;
        margin-top: 10px;
    }
    
    .technique-element-exam-button {
        border-bottom: 2px solid rgb(186, 186, 186);
        width: 330px;
        height: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        display: flex;
        align-items: center;
        color: #000000;
        margin-top: 10px;
        padding: 5px 0 5px 0;
        cursor: pointer;
    }
}