.terms {
    max-width: 1270px;
    /* align-items: center; */
    /* vertical-align: baseline; */
    margin-bottom: 50px;
    margin-top: 25px;
}

.text_terms {
    margin-top: 50px;
}

.terms_button {
    background-color: rgb(222, 223, 224);
    border: 2px solid black;
    width: 1266px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    margin-top: 25px;
    /* position: relative; */
    cursor: default; 
}

details {
    /* display: none; */
    width: 1270px;
    min-height: 50px;
    /* margin-top: 20px; */
    
}

.text_terms {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    align-items: center;
    text-align: left;
    justify-content: center;
    color: #000000;
    width: 800px;
    margin-left: 235px;
}

ul {
    list-style-type: circle solid black;
}