.terms {
    display: grid;
    max-width: 1270px;
}

.text_terms {
    margin-top: 50px;
}

.terms_button {
    background-color: rgb(222, 223, 224);
    border: 2px solid black;
    width: 1270px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    margin-top: 35px;
    /* position: relative; */
    cursor: default; 
}

details {
    /* display: none; */
    width: 1270px;
    min-height: 50px;
    /* margin-top: 20px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
}
