.terms {
    display: grid;
    align-items: center;
    max-width: 1450px;
}

.general {
    margin-top: 600px;
    margin-left: 200px;
    background-color: #9A9A9A;
    width: 1500px;
    height: 60px;
}

.terms_button {
    width: 1450px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    /* margin-top: 50px; */
}

.terms-text {
    display: none;
    width: 1450px;
    min-height: 50px;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;

}