.video-gallery {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-bottom: 25px;
}

.video-gallery-album {
    margin-bottom: 10px;
    position: relative;
    width: 330px;
    background: #000;
}

.video-gallery-album img {
    width: 330px;
    height: 100%;
    opacity: 0.6;

}

.video-gallery-disign-line {
    height: 2px;
    background: white;
    width: 150px;
}

.title-block {
    display: none;
}

.video-gallery img {
    width: 330px;
    margin-top: 25px;
    box-shadow: 1px 1px 5px 5px #a3a3a3;

}


@media (max-width: 1024px) {

    .video-gallery {
        width: 770px;
    }

    .video-gallery-album {
        width: 380px;
    }

    .video-gallery-album img {
        width: 380px;
        height: 280px;
    }
    
    .title-block {
        display: none;
    }
    
}

@media screen and (max-width: 360px) {

    .title-block {
        display: block;
    }

    .video-gallery {
        width: 280px;
        display: grid;
    }
    
    .video-gallery-album {
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        width: 280px;
        height: 230px;
        background: #000;
    }
    
    .video-gallery-album img {
        width: 280px;
        height: 100%;
        opacity: 0.6;
    }
    
}